@import '../variables';

//*alert error succes info messages
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 29px;
    height: 100%;
}

.alert_danger {
    color: $alert-danger;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert_success {
    color: $alert-success;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.alert_info {
    color: $alert-info;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alert_warning {
    color: $alert-warning;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.alert_sky {
    color: #060f43;
    background-color: #d6efff;
    border-color: #f7f7f7;
}