$alert-success: #155724;
$alert-danger: #721c24;
$alert-info: #0c5460;
$alert-warning: #856404;




$dark-1: #051036;
$dark-2: #0D2857;
$dark-3: #163C8C;

$green-1: rgb(8, 207, 75);
$green-2: rgb(9, 123, 9);
$primary: #13357B;

$border:#e3e4e7;