@import '../../styles/breakpoint';

.card {
    border: 1px solid var(--border-gray);
    border-radius: 20px;
    position: relative;
    transition: .5s ease-in-out;
    width: 264px;
border: 2px solid rgb(201, 201, 201);

@media(max-width:768px) {
border: 2px solid rgb(201, 201, 201);
    width: 244px;
    }
    .img_div {
        background-color: rgba(211, 211, 211, 0.208);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;

        img {
            border-radius: 15px;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .card-body {
            font-weight: 700;
            padding: 22px 21px;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.823);
            transition: .21s linear;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            flex-direction: column;
            gap: 2rem;
            opacity: 0;

            a {
                color: #0eff0e;
                    font-size: 30px;
            }

            img {
                width: 70px;
                height: 70px;
            }

            p {
                font-weight: normal;
                text-align: center;
                font-size: 15px;
            }
        }
    }






    &:hover {
        transform: translateY(-10px);



        .card-icon {
            opacity: 1;
            z-index: 999;
        }

        .img_div {
            .card-body {
                opacity: 1;
            }
        }
    }

}