@import '../../styles/global';

//ul li a  > 24px
//logo 36px
//icons width 30 height 30
.container {
    .header {
        // padding: 15px 0px;
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        justify-content: space-between;
        z-index: 9999;

        @include breakpoint-down(small) {
            padding: 10px 0px;

        }

        .logo {
            cursor: pointer;

            @include breakpoint-down(small) {
                margin-left: 2rem;

                .right {
                    margin-left: -22px;
                }
            }

            span {
                @include breakpoint-down(small) {
                    font-size: 1.3rem;
                    margin-right: 2rem;
                }


                @include breakpointMax(795px) {
                    font-size: 1.7rem;
                }

                font-size: 35px;


            }

            img {
                width: 90px;

                @include breakpoint-down(small) {
                    width: 70px;

                }
            }

        }

        .list {

            @include breakpoint-down(small) {
                display: none;

            }

            ul {
                display: flex;
                width: 610px;
                justify-content: center;
                gap: 1rem;

                @include breakpoint-down(small) {
                    flex-direction: column;
                    margin-top: 2rem;
                }

                @include breakpoint-down(medium) {
                    width: 420px;
                }

                a {
                    transition: .5s ease;
                    cursor: pointer;
                    font-size: 1.2rem;
                    border-bottom: 2px solid transparent;
                    position: relative;

                    &:after {
                        content: ''
                        ;
                        width: 0%;
                        height: 3px;
                        background-color: $green-2;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        position: absolute;
                        transition: 0.3s linear;
                    }

                    &:hover {
                        color: $green-2;
                        transition: .5;

                        &:after {
                            width: 100%;

                        }
                    }

                    @include breakpoint-down(small) {
                        padding: 6px 0px;
                        width: 100%;
                        display: flex;
                        align-self: center;
                        justify-content: center;

                        &:hover {
                            background-color: rgb(230, 230, 230);
                        }
                    }



                    &.active {
                        a {
                            color: rgb(8, 207, 75);
                        }
                    }


                    &:nth-child(2) {

                        @include breakpoint-down(small) {
                            padding: 6px 0px;
                        }

                    }


                }
            }
        }

        .icons {
            position: relative;


            @include breakpoint-down(small) {
                display: none;
            }

            div {
                display: flex;
                text-align: left;
                align-items: center;
                padding-bottom: 5px;

                span:nth-child(1) {
                    color: $green-2;
                }

                span {
                    font-size: 22px;
                    display: flex;
                }
            }
        }

        .hamburger_menu {
            display: none;

            @include breakpoint-down(small) {
                display: block;
                font-size: 1.3rem;
                margin-right: 2rem;

            }

            .icon {
                color: black;
            }
        }
    }
}